.movie-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
    .movie-detail__title {
        font-size: 2rem;
        line-height: 3rem;
    }

    .movie-detail__type {
        font-size: 1rem;
    }

    .movie-detail__image {
        width: 15rem;
    }
}