.card-container {
    height: 5rem;
    border-radius: 2px;
    border-bottom: 1px solid #fff;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;

    &.active {
        background: #4cb6cb;
    }

    &:hover {
        -webkit-box-shadow: -3px 6px 20px 1px rgba(0, 0, 0, 0.48);
        -moz-box-shadow: -3px 6px 20px 1px rgba(0, 0, 0, 0.48);
        box-shadow: -3px 6px 20px 1px rgba(0, 0, 0, 0.48);
    }

    .card-container__title {
        font-size: 1rem;
    }

    .card-container__year {
        position: absolute;
        right: 1rem;
        bottom: 0.5rem;
    }

    .card-container__star {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}