.searchInput {
    font-size: 1rem;
    line-height: 2rem;
    width: 89%;
    padding: 0 0.5rem;
    margin: 1rem;
}

.card-list {
    margin: 1rem 0;

    li {
        &.selected {
            background: #4cb6cb;
        }
    }
}