@import 'reset-css';

main {
    display: flex;
    flex: 0 0 100%;
    color: #545a5f;
    & > section {
        width: 100%;
        &:first-of-type {
            width: 50rem;
            background-color: #e0eaec;
            height: 100vh;
            overflow-y: scroll;
        }
    }
}